::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 96px;
  border: 6px solid var(--background);
}

body {
  display: flex;
  flex-direction: column;

  background: var(--background);
}

html,
body {
  height: 100%;
  font-size: 12px;

  overflow: hidden;
}

:root {
  --header-height: 8rem;

  --text-color: #ececec;
  --text-color-hover: var(--background);
  --background: #1c1c1c;
  --background-hover: var(--text-color);
}

.light {
  --text-color: #1c1c1c;
  --text-color-hover: var(--background);
  --background: #ececec;
  --background-hover: var(--text-color);
}

* {
  margin: 0;
  padding: 0;

  font-family: Verdana, sans-serif;

  outline: none;
  background: none;
  border: none;

  box-sizing: border-box;

  color: var(--text-color);
  transition: all 0.15s ease-in-out;

  text-decoration: none;
  text-transform: none;

  cursor: default;
}

header {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  min-height: var(--header-height);
  max-height: var(--header-height);

  gap: 0.5rem;
}

.box-shadow {
  box-shadow: 0 0 1rem 1rem var(--background);
}

header * {
  font-size: calc(0.5 * var(--header-height));
  font-weight: bold;
}

header :not(:hover) {
  filter: blur(1px);
}

main {
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-gutter: stable;

  display: flex;
  flex-direction: column;

  padding: 2rem 1rem 2rem 2rem;

  flex-grow: 1;
}

nav {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 8rem;
  font-weight: bold;

  padding-bottom: 1rem;

  border-bottom: 1rem solid transparent;
}

.nav-link:hover {
  border-bottom: 1rem solid var(--text-color);
}

.language-switcher {
  white-space: nowrap;
}

.theme-switcher {
  transform: scale(1, 1);
}

.mirror-x {
  transform: scale(-1, 1) !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.video {
  z-index: -1;
  position: absolute;

  top: -0.5rem;
  left: -0.5rem;

  width: calc(100% + 1rem);
  height: calc(100% + 1rem);

  object-fit: cover;
  /* filter: blur(2px); */
}

#contactivity-page {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 3rem;

  height: 100%;
}

.a-with-icon {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  font-weight: bold;

  gap: 3rem;
}

#contactivity-page {
  font-size: 8rem;
}

#contactivity-page > * {
  flex-grow: 1;
}

button {
  font-size: inherit;
}

.a-text {
  font-size: 6rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  gap: 3rem;
}

a {
  user-select: none;
}

a:hover {
  transform: translateY(-0.5rem);
}

.icon * {
  fill: var(--text-color);
}

.icon {
  width: 12rem;
  height: 12rem;
}

.icon:hover {
  transform: translateY(-0.5rem);
}

.hr {
  width: 100%;
  height: 0.5rem;
  background-color: var(--text-color);
}

#projectivity-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 2rem;

  gap: 4rem;
}

#identity-page {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

#identity-page .square {
  width: 100%;
  background: var(--text-color);

  transform: rotateY(60deg) translateX(-700px);
}

.year {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  font-size: 4rem;
  font-weight: 600;
  width: 100%;
}

.year-text {
  font-size: 4.25rem;
}

.year-projects {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  width: 100%;

  column-gap: 2rem;
  row-gap: 0.5rem;
}

.project {
  font-weight: 500;
  padding-bottom: 1rem;

  font-size: 4rem;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  border-bottom: 0.25rem solid transparent;
}

.project:hover {
  border-bottom: 0.25rem solid var(--text-color);
}

@media (max-width: 1440px) {
  #contactivity-page {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    gap: 8rem;
  }

  .a-with-icon {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 10px;
  }

  .a-text {
    display: none;
  }

  .icon {
    width: 16rem;
    height: 16rem;
  }
}

@media (max-width: 425px) {
  html,
  body {
    font-size: 9px;
  }

  .year-projects {
    flex-direction: column;
    align-items: flex-start;
  }

  .project {
    width: 100%;
  }
}

@media (max-width: 375px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  html,
  body {
    font-size: 7px;
  }
}
